{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/login">
        <div class="auth__form">
            <p><input name="loginField" type="text" placeholder="Login"></p>
            <p><input name="passField" type="password" placeholder="Password"></p>
            <button type="submit" id="sendbtn" class="submit-auth-btn">Войти</button>
            <button type="submit" id="sendbtn" name="regBtn" value="true" class="submit-auth-btn">Регистрация</button>
        </div>
    </form>

{% endblock %}