{% extends 'base.html' %}

{% block content %}


    <form method="POST" action="/register">
        <div class="auth__form">
            <p><input name="loginField" type="text" placeholder="Login"></p>
            <p><input name="passField" type="password" placeholder="Password"></p>
            <p><input name="emailField" type="email" placeholder="Email"></p>
            <button type="submit" id="sendbtn" class="submit-auth-btn">Зарегистрировать</button>
        </div>
    </form>

{% endblock %}