
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
  }
  html { height: 101%; font-family: "Noto Sans", sans-serif; } /* always display scrollbars */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
  ol, ul { list-style: none; }
  
  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
  strong { font-weight: bold; } 
  
  input { outline: none; }
  
  table { border-collapse: collapse; border-spacing: 0; }
  img { border: 0; max-width: 100%; }
  
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }


.container-fluid {
    padding: 0 auto;
}
.header {
    color: #fff;
    padding-top: 47px;
    height: 1084px;
    background: url(../img/bg-index.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navigation {
    padding: 35px;
    background: #1e1e1e;
    ;
}
.navbar-brand {
    padding: auto auto;
    color: white;
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
}

.navbar-link {
    color: #ffffff;
    margin-left: 62px;
}

.slogan {
    text-align: center;
    margin-top: 92px;
}

.slogan-main {
    font-size: 80px;
    font-weight: 700;
}

.slogan-desc {
    margin-top: 14px;
    font-size: 24px;
    font-weight: 100;
}

.search {
    width: 344px;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    height: 56px;
    margin: auto;
    margin-top: 45px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px); 
   }

input[type="search"] {
    border: none;
    outline: none;
    position: relative;
    background: none;
    -webkit-appearance: none;
    width: 276px;
    height: 55px;
    vertical-align: middle;
    margin-left: 20px;
   }
   
input[type="search"]::placeholder {
    color: #fff;
}

.search-submit {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: rgba(229, 132, 17, 1);
    border: none;
    margin-top: 7px;
    position: absolute;
   }

.search-submit::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    color: #fff;
}

.choosing-us {
    padding: 80px;
    color:rgba(30, 30, 30, 1);
    height: 420px;
}

.choosing-us__header {
    margin-top: 158px;
    margin-left: 80px;
    font-size: 42px;
    font-weight: 700;
}

.choosing-us__card {
    margin-top: 120px;
    margin-left: 28px;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}

.card-header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card-content {
    font-size: 16px;
    line-height: 29.6px;
    display: flex;
    flex-direction: column;
    flex-grow: -1;
    align-items: flex-start;
}

.card-more_info {
    margin-top: auto;
    color: rgba(229, 132, 17, 1);
    font-size: 14px;
    display: inline-block;
    padding-right: 55px;
    background: url(../img/arrow.png) no-repeat 95% center;
    transition: ease 0.2s;
}

.card-more_info:hover {
    background: url(../img/arrow.png) no-repeat right center;
}

.expiriences {
    margin-top: 150px;
    height: 511px;
    font-weight: 600;
}

.materials {
    height: 614.42px;
    margin-top: 220px;
    font-weight: 600;
}

/* Footer */

.footer{
    margin-top: 100px;
    padding-top: 150px;
    height: 462px;
    background: #F7F7F7;
}

.footer__card-header
{
    color: #F6973F;
    font-size: 17px;
}

.footer__brand-info
{
    padding-right: 100px;
}
.brand-info-header
{
    color: #1E1E1E;
    font-size: 28px;
    font-weight: 700;

}
.brand-info-content
{
    margin-top: 20px;
}

.footer__link{
    margin-top: 50px;
    color: #1E1E1E;
}

.footer li{
    margin-top: 20px;
}

.documents{
    margin-top: 100px;
    font-size:  15px;;
    color: #838484;

}
/* Shop Page */

.grey-box{
    background: #F7F7F7;
    padding-top: 47px;
}

.product-menu{
    padding: 8px;
    width: 344px;
    height: 56px;
    margin: auto;
    margin-top: 45px;
    border-radius: 40px;
    background: #EEEEEE;
}

.category-btn.selected,
.category-btn.active{
    background-color:#fff;
    color: #1E1E1E;
    border-radius: 40px;
    border: none;
    height: 40px;
    width: 70px;
    font-size: 18px;
}

.category-btn{
    color: #1E1E1E;
    border-radius: 40px;
    border: none;
    height: 40px;
    width: 70px;
    font-size: 18px;
}

.page-header1{
    font-size: 42px;
    font-weight: 700;
}

.page-header1 span{
    padding: 0px 10px 0px 10px;

    font-size: 42px;
    font-weight: 700;
}

.product-card{
    background: #FAFAFA;
    margin-top: 100px;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    position: relative;
}

.product-pic-bg{
    height: 240px;
}

.product-pic{
    left: 40px;
    top: -40px;
    position: absolute;
}

.product-info{
    background: #FFFFFF;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.product-details{
    margin-top: 20px;
}

.product-price{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.product-details p{
    color: #8D8D8D;
    font-size: 16px;
}

.product-details h4{
    color: #0D1B39;
    font-weight: 600;
    font-size: 22px;
}
.product-rate{
    color: #F6B76F;

}

.product-bottom{
    margin-top: 20px;
}

.view-all{
    margin-top: 100px;
    color: #E58411;
    font-size: 18px;
    display: inline-block;
    padding-right: 55px;
    background: url(../img/arrow.png) no-repeat 95% center;
    transition: ease 0.2s;
}


.right-btn {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    border-radius: 40px;
    background: #FFFFFF;
    border: none;
    position: absolute;
    top: 40%;
    right: -25px;
    box-shadow: 0 0 5px #cecece;


}

.left-btn {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    border-radius: 40px;
    background: #FFFFFF;
    border: none;
    position: absolute;
    top: 40%;
    left: -25px;
    box-shadow: 0 0 5px #cecece;
}



/* Shop Page */


/* Review Page */

.review-page{
    margin-bottom: 100px;
}

.review-page__header h5{
    color: #E58411;
    margin-top: 40px;
}

.review-card{
    width: 370px;
    height: 477px;
    padding: 20px;
    position: relative;
}
.reviews{
    margin-top: 80px;
}
.review-content{
    background-color: #FFFFFF;
    align-items: end;
    width: 334px;
    height: 206px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    border-radius: 20px;
    position: relative;
    
} 

.circle{
    position: absolute;
    width: 66px;
    height: 66px;
    background-color: #FFFFFF;
    border-radius: 100%;
    top: -33px;
    left: 134px;
    padding-top: 3px;
}

.review-content h4{
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 700;
}

.review-content h5{
    color: #686868;
    font-size: 12px;
}

.review-content p{
    color: #686868;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.review-text{
    height: 60px;
    margin-bottom: 10px;


}


.review-form{
    max-width: 550px;
    margin: 0px auto;
    color: #1E1E1E;
    padding: 30px 0;;
}

.form__body{

}

.form__title{
    font-size:  40px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}

.form__item{
    margin: 0px 0px 20px 0px;
}

.form__label{
    font-size: 18ps;
    display: block;
    margin: 0px 0px 10px 0px;
}

.form__input{
    height:  50ps;
    padding: 0px 20px;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
}

textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
}

.form__button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

/* Review Page */

.shop-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

thead {
    font-weight: 700;
}
.shop-table th {
    padding: 35px;
    border-bottom: 1px solid #000;
    background-color: #e6e2e2;
}

.shop-table__img {
    width: 50%;
}

.shop-table__name-item {
    width: 30%;
}

.shop-table td {
    vertical-align: middle;
    border-bottom: 1px solid #000;
    padding-top: 15px;
}

.shop-table tr:nth-child(odd) {
    background: white;
  }
.shop-table tr:nth-child(even) {
    background: #E8E6D1;
  }

.shop-table__cart-btn {
    border: none;
    border-radius: 5px;
    background-color: #E58411;
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
}

.shop-table__cart-btn:hover {
    border: none;
    border-radius: 5px;
    background-color: #f58905;
    transform: scale(1.2);
}