{% extends 'base.html'%}
{% block content %}
<div class="container-fluid expiriences">
        <div class="row">
            <div class="col-6">
                <img src="img/expiriences.png" alt="">
            </div>
            <div class="col hidebox">
                <h3 style="font-size: 18px; color:rgba(229, 132, 17, 1);">EXPERIENCES</h3>
                <h1 style="font-size: 42px; font-weight: 700; width: 413px; margin-top: 10px;">We Provide You The Best Experience</h1>
                <p style="width: 556px; line-height: 33.3px; margin-top: 10px;">
                    You don’t have to worry about the result because all of these interiors are
                    made by people who are professionals in their fields with
                    an elegant and lucurious style and with premium quality materials</p>
                <a href="#" class="card-more_info" style="margin-top: 24px;">
                    More Info
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid materials">
        <div class="row">
            <div class="col-6 hidebox" style="padding-left: 80px;">
                <h3 style="font-size: 18px; color:rgba(229, 132, 17, 1);">MATERIALS</h3>
                <h1 style="font-size: 42px; font-weight: 700; width: 413px; margin-top: 10px;">Very serious materials for making furniture</h1>
                <p style="width: 556px; line-height: 33.3px; margin-top: 10px;">
                    Because panto was very serious about designing furniture for our environment,
                    using a very expensive and famous capital but at a relatively low price</p>
                <a href="#" class="card-more_info" style="margin-top: 24px;">
                    More Info
                </a>
            </div>
            <div class="col-3">
                <img src="img/mat_1.png" alt="" style="float: right;">
                <img src="img/mat_2.png" alt="" style="float: right; margin-top: 47px;">
            </div>
            <div class="col-3">
                <img src="img/mat_3.png" alt="" style="float: right; margin-top: 137px;">
            </div>
        </div>
    </div>
{% endblock %}