{% extends 'base.html' %}

{% block content %}

<div class="review-page">
    <div class="container-fluid text-center review-page__header">
        <h5> TESTIMONIALS</h5>
        <h1 class="page-header1">
          Our Client Reviews
        </h1>
    </div>

    <div class="container reviews">
        <div class="row justify-content-between">
            {% for bg_pic, cl_pic, cl_name, cl_job, rev_text in reviews %}
            <div class="col-4">
                <div class="review-card d-flex justify-content-center align-items-end" style="background-image: url(../static/img/{{bg_pic}});" >
                    <!-- <button class="left-btn"><img src="{{url_for('static', filename='img/left.png')}}" alt=""></button> -->
                    <div class="review-content text-center">
                        <div class="circle">
                            <img src="{{url_for('static', filename='img/' + cl_pic)}}" alt="">
                        </div>
                        <h4>{{cl_name}}</h4>
                        <h5>{{cl_job}}</h5>
                        <div class="review-text">
                            <p>“{{rev_text}}“</p>
                        </div>

                        <div class="product-rate">
                            {% for i in range(5) %}
                                <i class="fa-solid fa-star"></i>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}

    
        </div>

    <div class="review-form ">
        <form action="#" id="form" class=""form__body>
        <h1 class="form__title text-center"> Leave your review</h1>
        <div class="form__item">
            <label for="formName" class="form__label">Name*:</label>
            <input id="formName" type="text" name="name" class="form__input">
        </div>
        <div class="form__item">
            <label for="formEmail" class="form__label">E-mail:</label>
            <input id="formEmail" type="text" name="email" class="form__input">
        </div>
        <div class="form__item">
            <label for="formMessage" class="form__label">Review*:</label>
            <textarea id="formMessage"  name="message" class="form__input"></textarea>
        </div>
        <p id="respond_message" style="height: 20px; margin: 15px;"> </p>
        <input type="submit" id="sendbtn" value="Send" class="form__button">
        <!-- <input type="button" value="Отправить" class="form__button" onclick="printMessage();"> -->
        </form>
    </div>

</div>
    <script src="{{ url_for('static', filename='js/formsend.js') }}"></script>


{% endblock %}