{% extends 'base.html' %}

{% block content %}
<div class="grey-box ">
        <div class="container-fluid text-center shop-header">

            <h1 class="page-header1">
              Best Selling: <span>chair</span>
            </h1>

            <div class="product-menu">
                <ul class="nav nav-pills d-flex justify-content-between">
                    {% for category in categories %}
                    <li class="nav-item">
                        {% if category == categories[0] %}
                        <button  class="category-btn selected">{{category}}</button>
                        {% else %}
                        <button  class="category-btn ">{{category}}</button>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>


        </div>


            <div class="container products">
                <div class="row justify-content-between">

                    {% for name, pic, price in chairs %}
                    
                    <div class="col-3">
                        <div class="product-card">
                            <div class="product-pic d-flex justify-content-center">
                                <a href="#"><img src="{{ url_for('static', filename='img/'+ pic) }}" alt=""></a>
                            </div>
                            <div class="product-pic-bg">

                            </div>
                            <div class="product-info">
                                <div class="product-details">
                                    <p>Chair</p>
                                    <h4>{{name}}</h4>
                                    <div class="product-rate">
                                        {% for i in range(5) %}
                                            <i class="fa-solid fa-star"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="product-bottom d-flex justify-content-between">
                                    <div class="product-price align-self-center">
                                        <p>{{price}}</p>
                                    </div>
                                    <div class="add-button">
                                        <a href="#"><img src="{{ url_for('static', filename='img/add_button.png') }}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>

                <!-- <button class="left-btn"><img src="{{ url_for('static', filename='img/left.png') }}" alt=""></button>
                <button class="right-btn"><img src="{{ url_for('static', filename='img/right.png') }}" alt=""></button> -->
            </div>
        <div class="container-fluid text-center">
            <a href="{{ url_for('full_shop') }}" class="view-all">
                View more
            </a>
        </div>
    </div>
    <!-- <script src="js\main.js"></script> -->

{% endblock %}