{% extends 'base.html' %}
{% block content %}
<div class="container-fluid text-center justify-content-center" style="text-align: center;">
        <table class="shop-table">
          <thead>
            <tr>
              <th data-type="text">Name</th>
              <th data-type="not_sorting">Photo</th>
              <th data-type="integer">Price</th>
              <th data-type="double">Ocenka</th>
            </tr>
          </thead>
          <tbody>
            {% for name, pic, price, score in chairs %}
            <tr>
              <td class="shop-table__name-item">{{name}}</td>
              <td class="shop-table__img"><img src="{{ url_for('static', filename='img/' + pic) }}" alt="" width="200" height="200"></td>
              <td>{{price}}
                <button class="shop-table__cart-btn">
                  to cart
                </button>
              </td>
              <td>{{score}}/5</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
    </div>
{% endblock %}